{% extends 'base.html' %}
{% block content %}


<h1>{{ event.event_name }}</h1>
    <h2> Date - {{ event.date }}</h2>
    <h2> Desrcription - {{ event.description }}</h2>
    <h3>{{ event.content }}</h3>
    <br>


    {% if event.status == 'True' %}
    {% if registration %}
        <button class="btn-dark">Already registered</button>
    {% else %}
    <a href="{% url 'events:register_for_event' event.id %}">Register here</a>
    {% endif %}
    {% endif %}


    <br>
    <br>
    {% if event.pic1 %}
    <img src="{{ event.pic1.url }}" height="200" width="300">
    {% endif %}

    {% if event.pic2 %}
    <img src="{{ event.pic2.url }}" height="200" width="300">
    {% endif %}

    {% if event.pic3 %}
    <img src="{{ event.pic3.url }}" height="200" width="300">
    {% endif %}

    {% if event.pic4 %}
    <img src="{{ event.pic4.url }}" height="200" width="300">
    {% endif %}

    {% if event.pic5 %}
    <img src="{{ event.pic5.url }}" height="200" width="300">
    {% endif %}

    {% if event.pic6 %}
    <img src="{{ event.pic6.url }}" height="200" width="300">
    {% endif %}

    {% if event.pic7 %}
    <img src="{{ event.pic7.url }}" height="200" width="300">
    {% endif %}

    {% if event.pic8 %}
    <img src="{{ event.pic8.url }}" height="200" width="300">
    {% endif %}

    {% if event.pic9 %}
    <img src="{{ event.pic9.url }}" height="200" width="300">
    {% endif %}

    {% if event.pic10 %}
    <img src="{{ event.pic10.url }}" height="200" width="300">
    {% endif %}

    {% if event.pic11 %}
    <img src="{{ event.pic11.url }}" height="200" width="300">
    {% endif %}

{% endblock %}