{% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    {% block static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">
    <link rel="stylesheet" href="{% static 'css/Side-By-Side-Section.css'%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.css">
    <link rel="stylesheet" href="{% static 'css/Article-Dual-Column.css'%}">
    <link rel="stylesheet" href="{% static 'css/Basic-fancyBox-Gallery-v2.css'%}">
    <link rel="stylesheet" href="{% static 'css/blog-1.css'%}">
    <link rel="stylesheet" href="{% static 'css/blog.css'%}">
    <link rel="stylesheet" href="{% static 'css/LinkedIn-like-Profile-Box.css'%}">

    {% endblock %}
<div style="background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,10,151,1) 0%, rgba(255,0,0,1) 100%); padding: 20px; padding-top: 50px">
    <section class="index-howto-alt py-3">



    <div>

        <form class="form-inline my-2 my-lg-1">
        <div class="col-lg-3">
            <div class="form-group">
                <label for="id_course">Month:</label>
                <select style="border-radius: 10px;" class="form-control" name="month" id="id_month">
                    <option value="01">January</option>
                    <option value="02">February</option>
                    <option value="03">March</option>
                    <option value="04">April</option>
                    <option value="05">May</option>
                    <option value="06">June</option>
                </select>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="form-group">
                <label for="id_course">Year:</label>
                <select style="border-radius: 10px;" class="form-control" name="year" id="id_course">
                    <option value="2019">2019</option>
                    <option value="2018">2018</option>
                </select>
            </div>
        </div>
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Submit</button>
        </form>

          <form class="form-inline my-2 my-lg-1">
            <input
                class="form-control mr-sm-2"
                type="search"
                placeholder="Search by Event Name"
                aria-label="Search"
                name='search'
                value="{{search_term}}">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
    </div>




        <div class="x_001_laptop_main_wrap"></div>
        <div class="container">
            <h2 class="text-center mb-3 mt-4 text-white">EVENTS SO FAR</h2>
            <div class="psd-line pos-rel" style="position:relative;">
                <hr style="background-color: ghostwhite">


        {% for event in events %}
                {% if event.status == 'False' %}
        {% if forloop.counter0|divisibleby:"2" %}
            <div class="row flex-column-reverse align-items-center flex-sm-row">
                    <div class="card border-white border rounded shadow-lg col-12 col-sm-6 d-flex flex-column justify-content-center p-5 psd-right1">
                        <center><h3 class="text-sm-center">{{ event.event_name|capfirst}}</h3>
                        <h6 class="text-sm-center">{{ event.date }}</h6>
                            <h6 class="text-sm-center">{{ event.venue }}</h6>
                        <p class="text-sm-center">{{ event.description }}<br></p>
                        <a class="text-sm-center text-white det btn" style="background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,10,151,1) 0%, rgba(255,0,0,1) 100%)" href="{% url 'events:events_detail' event.id %}" >Event Details</a></center>
                    </div>

                    <div class="col-12 col-sm-6 d-flex flex-row justify-content-center align-items-center intro-card-2 p-5">
                        <img class="howto-img imground" src="{{ event.pic2.url }}" alt="" href="{% url 'events:events_detail' event.id %}" width="200" height="200">
                    </div>
                </div>
        {% elif not forloop.counter0|divisibleby:"2"%}
            <div class="row align-items-center">
                    <div class="col-12 col-sm-6 d-flex flex-row justify-content-center align-items-center intro-card-3 p-5">
                        <img class="howto-img imground" src="{{ event.pic2.url }}" href="{% url 'events:events_detail' event.id %}" alt="" width="200" height="200">
                    </div>
                    <div class="card border-white border rounded shadow-lg col-12 col-sm-6 d-flex flex-column justify-content-center p-5 psd-left2">
                        <center><h3 class="text-sm-center">{{ event.event_name|capfirst}}</h3>
                        <h6 class="text-sm-center">{{ event.date }}</h6>
                        <p class="text-sm-center">{{ event.description }}<br></p>
                        <a class="text-sm-center text-white det btn" style="background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,10,151,1) 0%, rgba(255,0,0,1) 100%)" href="{% url 'events:events_detail' event.id %}">Event Details</a></center></div>
                    </div>
        {% endif %}
    {% endif %}
     {% endfor %}
            </div>

        </div>
    </section>

    <div class="pagination">
            <span class="step-links">
            {% if events.has_previous %}
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="?page=1&{{params}}" style="padding-right: 3px;"><button type="button" class="btn btn-light">&laquo; First</button></a>
                    <a href="?page={{ events.previous_page_number }}&{{params}}"><button type="button" class="btn btn-secondary">Previous</button></a>
                </div>
            {% endif %}

                <div class="btn-group" role="group" aria-label="Basic example">

            {% for i in allevents.page_range %}
            {% if i > events.number|add:'-3' and i < events.number|add:'3' %}

                    <a href="?page={{ i }}&{{params}}" style="padding-right: 3px;"><button type="button" class="btn btn-light">{{ i }}</button></a>

            {% endif %}
            {% endfor %}
                    </div>

            {% if events.has_next %}
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="?page={{ events.next_page_number }}&{{params}}" style="padding-right: 3px;"><button type="button" class="btn btn-light">Next</button></a>
                    <a href="?page={{ events.paginator.num_pages }}&{{params}}"><button type="button" class="btn btn-light">Last &raquo;</button></a>
                </div>
            {% endif %}
            </span>
        </div>


</div>
<style>
    .imground{
        border: 8px solid ghostwhite;
        border-radius: 100%;
    }
    .det:hover{
        display: block;
        text-decoration: none;
    }
    .det{
        width: 10rem;
    }
</style>

    {% block scripts %}
    <script src="{% static 'js/jquery.min.js'%}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.js"></script>
    {% endblock %}