{% extends 'base.html' %}
{% block static %}

{% endblock %}
{% block title %}
    <title>Events | Career and Counseling Cell | JC Bose UST</title>
    <meta name="title" content="Events | Career and Counseling Cell | JC Bose UST">
    <meta name="description" content="Career and Counseling helps student to achieve excellence in their respective fields. We guide students by conducting seminars by their Role Models and help them to overcome the barrier.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.cncjcbust.tech/events/">
    <meta property="og:title" content="Events | Career and Counseling Cell | JC Bose UST">
    <meta property="og:description" content="Career and Counseling helps student to achieve excellence in their respective fields. We guide students by conducting seminars by their Role Models and help them to overcome the barrier.">
    <meta property="og:image" content="https://cncymca.s3.amazonaws.com/slide%20show%20pics/FB_IMG_1581771240566.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=%20AKIAWF6VJARJED5XY63X%2F20200422%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Date=20200422T052653Z&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=0c7b57d97e571df85338872e9ece70318a18ed00d157e0322fe16e1999c44b20">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://www.cncjcbust.tech/events/">
    <meta property="twitter:title" content="Events | Career and Counseling Cell | JC Bose UST">
    <meta property="twitter:description" content="Career and Counseling helps student to achieve excellence in their respective fields. We guide students by conducting seminars by their Role Models and help them to overcome the barrier.">
    <meta property="twitter:image" content="https://cncymca.s3.amazonaws.com/slide%20show%20pics/FB_IMG_1581771240566.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=%20AKIAWF6VJARJED5XY63X%2F20200422%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Date=20200422T052653Z&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=0c7b57d97e571df85338872e9ece70318a18ed00d157e0322fe16e1999c44b20">

{% endblock %}

{% block content %}
<br>
<br>
<div>
    {% include 'events/events_timeline.html' %}
</div>

{% endblock %}
