{% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    {% block static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">

    {% endblock %}
<div class="wow slideInUp" style="padding: 20px; padding-top: 50px; margin-top: 10px">
    <section class="index-howto-alt">






        <div class=" wow slideInUp row justify-content-center">
      <!-- Column -->
      <div class="col-md-12 text-center mb-3">
        <h2 class="my-1">EVENTS SO FAR</h2>
      </div>
    </div>
        <div class="wow slideInUp row" style="justify-content: center;">
        <form class="form-inline">

        <div class="col-md-3">
            <div class="form-group">
                <select style="border-radius: 10px;" class="form-control" name="month" id="id_month">
                    <option value="">Select Month</option>
                    <option value="01">January</option>
                    <option value="02">February</option>
                    <option value="03">March</option>
                    <option value="04">April</option>
                    <option value="05">May</option>
                    <option value="06">June</option>
                    <option value="07">July</option>
                    <option value="08">August</option>
                    <option value="09">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <select style="border-radius: 10px;" class="form-control" name="year" id="id_course">
                    <option value="">Select Year</option>
                    <option value="2020">2020</option>
                    <option value="2019">2019</option>
                    <option value="2018">2018</option>
                </select>
            </div>
        </div>
            <div class="col-md-4">
                <input
                class="form-control"
                type="search"
                placeholder="Search by Event Name"
                aria-label="Search"
                name='search'
                value="{{search_term}}">

            </div>

            <div class="col-md-2">
        <button class="btn btn-danger  my-2 my-sm-0" type="submit">Search</button>
            </div>
        </form>
        </div>

    </div>
        </div>
<hr>


<!--          <form class="form-inline my-2 my-lg-1" action="?{{ params }}&">-->
<!--            <input-->
<!--                class="form-control mr-sm-2"-->
<!--                type="search"-->
<!--                placeholder="Search by Event Name"-->
<!--                aria-label="Search"-->
<!--                name='search'-->
<!--                value="{{search_term}}">-->
<!--            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
<!--          </form>-->



<div class="bg-white p-0">
<div class="container mt-3">
        {% for event in events %}
                {% if event.status == 'False' %}
        {% if forloop.counter0|divisibleby:"2" %}
            <div class="row wow slideInLeft flex-column-reverse align-items-center flex-sm-row">
                    <div class="card border-white border rounded shadow-lg col-12 col-sm-6 d-flex flex-column justify-content-center p-5 psd-right1">
                        <center><h3 class="text-sm-center">{{ event.event_name|capfirst|truncatechars:50 }}</h3>
                        <h6 class="text-sm-center">{{ event.date }}</h6>
                            <h6 class="text-sm-center">{{ event.venue }}</h6>
                        <p class="text-sm-center">{{ event.description|truncatechars:60 }}<br></p>
                        <a class="text-sm-center text-white det btn" style="background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,10,151,1) 0%, rgba(255,0,0,1) 100%)" href="{% url 'events:events_detail' event.id %}" >Event Details</a></center>
                    </div>

                    <div class="col-12 col-sm-6 d-flex flex-row justify-content-center align-items-center intro-card-2 p-5">
                        <img class="howto-img imground" src="{{ event.pic2.url }}" alt="" href="{% url 'events:events_detail' event.id %}" width="200" height="200">
                    </div>
                </div>
        {% elif not forloop.counter0|divisibleby:"2"%}
            <div class="row wow slideInRight align-items-center">
                    <div class="col-12 col-sm-6 d-flex flex-row justify-content-center align-items-center intro-card-3 p-5">
                        <img class="howto-img imground" src="{{ event.pic2.url }}" href="{% url 'events:events_detail' event.id %}" alt="" width="200" height="200">
                    </div>
                    <div class="card border-white border rounded shadow-lg col-12 col-sm-6 d-flex flex-column justify-content-center p-5 psd-left2">
                        <center><h3 class="text-sm-center">{{ event.event_name|capfirst|truncatechars:50 }}</h3>
                        <h6 class="text-sm-center">{{ event.date }}</h6>
                        <p class="text-sm-center">{{ event.description|truncatechars:60 }}<br></p>
                        <a class="text-sm-center text-white det btn" style="background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,10,151,1) 0%, rgba(255,0,0,1) 100%)" href="{% url 'events:events_detail' event.id %}">Event Details</a></center></div>
                    </div>
        {% endif %}
    {% endif %}
     {% endfor %}
</div>
</div>
            </div>

        </div>
    </section>

    <div class="pagination container" style="padding: 50px">
            <span class="step-links">
            {% if events.has_previous %}
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="?page=1&{{params}}" style="padding-right: 3px;"><button type="button" class="btn btn-secondary">&laquo; First</button></a>
                    <a href="?page={{ events.previous_page_number }}&{{params}}"><button type="button" class="btn btn-secondary">Previous</button></a>
                </div>
            {% endif %}

                <div class="btn-group" role="group" aria-label="Basic example">

            {% for i in allevents.page_range %}
            {% if i > events.number|add:'-3' and i < events.number|add:'3' %}

                    <a href="?page={{ i }}&{{params}}" style="padding-right: 3px;"><button type="button" class="btn btn-secondary">{{ i }}</button></a>

            {% endif %}
            {% endfor %}
                    </div>

            {% if events.has_next %}
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="?page={{ events.next_page_number }}&{{params}}" style="padding-right: 3px;"><button type="button" class="btn btn-secondary">Next</button></a>
                    <a href="?page={{ events.paginator.num_pages }}&{{params}}"><button type="button" class="btn btn-secondary">Last &raquo;</button></a>
                </div>
            {% endif %}
            </span>
        </div>


</div>
<style>
    .imground{
        border: 8px solid red;
        border-radius: 100%;
    }
    .det:hover{
        display: block;
        text-decoration: none;
    }
    .det{
        width: 10rem;
    }
</style>

    {% block scripts %}
    <script src="{% static 'js/jquery.min.js'%}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.js"></script>
    {% endblock %}