{% extends 'base.html' %}
{% block static %}

{% endblock %}
{% block title %}
    <title>Events | Career and Counseling Cell | JC Bose UST</title>
    <meta name="title" content="Events | Career and Counseling Cell | JC Bose UST">
    <meta name="description" content="Career and Counseling helps student to achieve excellence in their respective fields. We guide students by conducting seminars by their Role Models and help them to overcome the barrier.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.cncjcbust.tech/events/">
    <meta property="og:title" content="Events | Career and Counseling Cell | JC Bose UST">
    <meta property="og:description" content="Career and Counseling helps student to achieve excellence in their respective fields. We guide students by conducting seminars by their Role Models and help them to overcome the barrier.">
    <meta property="og:image" content="{% static 'img/logo.png' %}">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://www.cncjcbust.tech/events/">
    <meta property="twitter:title" content="Events | Career and Counseling Cell | JC Bose UST">
    <meta property="twitter:description" content="Career and Counseling helps student to achieve excellence in their respective fields. We guide students by conducting seminars by their Role Models and help them to overcome the barrier.">
    <meta property="twitter:image" content="{% static 'img/logo.png' %}">

{% endblock %}

{% block content %}
<br>
<br>
<div>
    {% include 'events/events_timeline.html' %}
</div>

{% endblock %}
