<div style="display: flex ; justify-content: center; align-content: center; align-items: center; background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,10,151,1) 0%, rgba(255,0,0,1) 100%); margin-top: -2%; padding-bottom: 30px;">
<div class="container mt-4" style="text-align: center; width: 90%">
    <hr>
    <div style="text-align: center; color: ghostwhite"><h1>Officers' Message</h1></div>
    <div class="row" style="display: flex; justify-content: center;">
        <div class="col-sm-5 zoom container card border-white border shadow-lg mt-3 mb-3 wow slideInLeft" style="border: 0 solid white; border-radius: 25px; margin-top: 30px; box-shadow: 3px 3px 30px ghostwhite;margin-left: 10px; margin-right: 10px; height: auto; width: auto">
            <img class="container" style="border: 0 solid white; border-radius: 100%; margin-top: 30px; height: 200px; width: 240px;" src="https://jcboseust.ac.in/assets/site/images/vc_dinesh_kumar2.jpg" alt="Card image cap" height="200px" width="50px">
            <div class="card-body">
                <div style="text-align: center;"><h5 class="card-title">Dr. Dinesh Kumar</h5></div>
                <p class="card-text container">
                    <br>
                    Moving ahead on the path of excellence, the University is ready to effectively take up the forthcoming challenges in diversified domains. To accomplish this, new courses are being added and new facilities are being developed on continuous basis. Inculcation of ethical and moral values among youth and guiding them in their career is one of our prime concerns. To achieve this goal, the Career and Counselling Cell has been conducting various events.
                    <br>
                    <br>
                </p>
            </div>
        </div>

        <div class="col-sm-5 zoom container card border-white border shadow-lg mt-3 mb-3 wow slideInLeft" style="border: 0 solid white; border-radius: 25px; margin-top: 30px; box-shadow: 3px 3px 30px ghostwhite; margin-left: 10px; margin-right: 10px; height: auto; width: auto">
            <img class="container" style="border: 0 solid white; border-radius: 100%; margin-top: 30px; height: 200px; width: 240px;" src="../../../static/img/arivindsir.jpeg" alt="Card image cap" height="200px" width="50px">
            <div class="card-body">
                <div style="text-align: center;"><h5 class="card-title">Dr. Arvind Gupta</h5></div>
                <p class="card-text container">
                    <br>
                    The objective behind the cell formation is to help students to chalk out academic and career roadmaps for themselves, to create awareness among the students about emerging professional trends and entrepreneurship and market needs etc. , to provide guidance to the students on various options available for higher studies available in India and abroad, to help the students in the development of their strengths, sharpening their interests and planning for a satisfying future, to provide guidance for personality development, positive attitude and inter-personal skills and to promote Value System and National Integration among students.

                    <br>
                    <br>
                </p>
            </div>
        </div>

<!--        <div class="col-sm-6 col-md-5 zoom container card border-white border shadow-lg mt-3 mb-3 wow slideInRight" style="border: 0 solid white; border-radius: 25px; margin-top: 30px; box-shadow: 3px 3px 30px ghostwhite; width: auto">-->
<!--            <img class="container" style="border: 0 solid white; border-radius: 100%; margin-top: 30px; height: 200px; width: 240px;"src="https://jcboseust.ac.in/assets/site/images/vc_dinesh_kumar2.jpg" alt="Card image cap" height="200px" width="50px">-->
<!--            <div class="card-body">-->
<!--                <center><h5 class="card-title">Dr. Arvind Gupta</h5></center>-->
<!--                <p class="card-text">-->
<!--                    <br>-->
<!--                    Message-->
<!--                    <br>-->
<!--                    <br>-->
<!--                </p>-->
<!--            </div>-->
<!--        </div>-->


    </div>
</div>
</div>

