<!DOCTYPE HTML>
{% load static %}
<html>

<head>
	<title>Year Wise Reports</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
</head>

<body class="is-preload">

	<div class="navigation-bar" style="background-color: #f8f9fa;">
		<a href="{% url 'core:home' %} "> <img src="{% static 'img/logo.png' %}" style=" margin-left: 2.5%; float:left"
				height="90" width="90"></a>

		<ul style="list-style-type:none;">
			<li>
				<h1 style="color:black; font-size: xx-large;  font-family:'ZCOOL XiaoWei', serif">Year Wise Reports</h1>
			</li>
		</ul>

	</div>


	<br><br>
	<center>
		<div class="tab">
			<button class="tablinks" onclick="openYear(event, '16')">2016-17</button>
			<button class="tablinks" onclick="openYear(event, '17')">2017-18</button>
			<button class="tablinks" onclick="openYear(event, '18')">2018-19</button>
			<button class="tablinks" onclick="openYear(event, '19')">2019-20</button>
			<button class="tablinks" onclick="openYear(event, '20')" id="defaultOpen">2020-21</button>

		</div>
	</center>

	<div id="16" class="tabcontent">
		<span onclick="this.parentElement.style.display='none'" class="topright">&times</span>

		<table id="tabl">
			<colgroup>
				<col span="1" class="head1">
				<col span="1" class="head2">
			</colgroup>


			<thead>
				<tr>
					<th>Name</th>
					<th>Link</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td>
						<h4>Aptitude test for Higher Education by TIMES Education Group</h4>
					</td>
					<td><a class="button"
							href="https://drive.google.com/file/d/1JYVxgxgi3WVaTEQV73YAOQcKe5oipuEI/view?usp=sharing"
							target="_blank">view</a>
					</td>
				</tr>

				
				<tr>
					<td>
						<h4>Seminar by Career Launcher on different Competitive examinations</h4>
					</td>
					<td><a class="button"
							href="https://drive.google.com/file/d/1bkgyav_BlrhVkB41NY62luPi3vc-h-q1/view?usp=sharing"
							target="_blank">view</a>
					</td>
				</tr>

				
				<tr>
					<td>
						<h4>Workshop on Career Goal setting by Harish Sitaraman of Breakthrough technologies</h4>
					</td>
					<td><a class="button"
							href="https://drive.google.com/file/d/1gCUOlAaIHnm64qsem4SHVmQ9vIUbRqmV/view?usp=sharing"
							target="_blank">view</a>
					</td>
				</tr>

				
				<tr>
					<td>
						<h4>Seminar on Higher Education in India and Abroad</h4>
					</td>
					<td><a class="button"
							href="https://drive.google.com/file/d/1lMVfIN8tUogOgfxCq9XpLiJZTPAOJPhM/view?usp=sharing"
							target="_blank">view</a>
					</td>
				</tr>

				
				<tr>
					<td>
						<h4>Workshop on Recruitment Training and Personality Development</h4>
					</td>
					<td><a class="button"
							href="https://drive.google.com/file/d/1-bOZGtwqMBQcK4kijzao95ZWqnMM8mnQ/view?usp=sharing"
							target="_blank">view</a>
					</td>
				</tr>

				
				<tr>
					<td>
						<h4>Seminar on Impact of Positive thinking on Career Growth</h4>
					</td>
					<td><a class="button"
							href="https://drive.google.com/file/d/1XZbmSTFI97va2TXHcGFrXYUROrjdXgM6/view?usp=sharing"
							target="_blank">view</a>
					</td>
				</tr>

				
				<tr>
					<td>
						<h4>Seminar On Work Readiness Crisis</h4>
					</td>
					<td><a class="button"
							href="https://drive.google.com/file/d/10DANelyrE6AS21PGj8zYv7BDUcztgjjV/view?usp=sharing"
							target="_blank">view</a>
					</td>
				</tr>

				
				<tr>
					<td>
						<h4>Aptitude test for Higher Education by TIMES Education Group</h4>
					</td>
					<td><a class="button"
							href="https://drive.google.com/file/d/1JYVxgxgi3WVaTEQV73YAOQcKe5oipuEI/view?usp=sharing"
							target="_blank">view</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div id="17" class="tabcontent">
		<span onclick="this.parentElement.style.display='none'" class="topright">&times</span>


		<table id="tabl">
			<colgroup>
				<col span="1" class="head1">
				<col span="1" class="head2">
			</colgroup>


			<thead>
				<tr>
					<th>Name</th>
					<th>Link</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td>
						<h4>Seminar on Achieving Career Goals by Managing Stress and developing Positive</h4>
					</td>
					<td><a class="button"
							href="https://drive.google.com/file/d/1JYVxgxgi3WVaTEQV73YAOQcKe5oipuEI/view?usp=sharing"
							target="_blank">view</a></td>
				</tr>


				<tr>
					<td>
						<h4>Career in Aviation Industry</h4>
					</td>
					<td><a class="button"
							href="https://drive.google.com/file/d/128FQqNJB_7LR7aM4T8Ka-pi0AuR18-VW/view?usp=sharing"
							target="_blank">view</a></td>
				</tr>


				<tr>
					<td>
						<h4>Seminar on Business Humanity and Education and its importance in Career</h4>
					</td>
					<td><a class="button"
							href="https://drive.google.com/file/d/1VX3V_NXw26US9Uc-aBKT8NUa7ByReHwr/view?usp=sharing"
							target="_blank">view</a></td>
				</tr>


				<tr>
					<td>
						<h4>Career in Digital Marketing by Debrathi Ghosh from Eshana Edutech</h4>
					</td>
					<td><a class="button"
							href="https://drive.google.com/file/d/1XtH4hi-N7IymUlxWY4knE3v6cXa9xRIu/view?usp=sharing"
							target="_blank">view</a></td>
				</tr>


				<tr>
					<td>
						<h4>Workshop on Innovative Solution for Indian Economy</h4>
					</td>
					<td><a class="button"
							href="https://drive.google.com/file/d/1MsFfgVQCNIT_9dG1FZTq4M__s1B1vA0A/view?usp=sharing"
							target="_blank">view</a></td>
				</tr>


				<tr>
					<td>
						<h4>Seminar on overcoming obstacles on path of success</h4>
					</td>
					<td><a class="button"
							href="https://drive.google.com/file/d/1fEbT8zqK0AHgaujSToEX2NM08DOF5ItR/view?usp=sharing"
							target="_blank">view</a></td>
				</tr>


				<tr>
					<td>
						<h4>Workshop on Improving Student’s Efficiency in Education and Corporate</h4>
					</td>
					<td><a class="button"
							href="https://drive.google.com/file/d/1HwwhDKyxt4LS3BMAWCyKjMUV28S9-bRw/view?usp=sharing"
							target="_blank">view</a></td>
				</tr>


				<tr>
					<td>
						<h4>Seminar on Planning for success</h4>
					</td>
					<td><a class="button"
							href="https://drive.google.com/file/d/1TtLxdiuKCCcbeGbNdI2G9UUfCnX2gOpm/view?usp=sharing"
							target="_blank">view</a></td>
				</tr>


				<tr>
					<td>
						<h4>Professional Skill Development Workshop</h4>
					</td>
					<td><a class="button"
							href="https://drive.google.com/file/d/1Ss2Pv1zLBuEaoq6lyv6X5dpDrm50TRSo/view?usp=sharing"
							target="_blank">view</a></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div id="18" class="tabcontent">
		<span onclick="this.parentElement.style.display='none'" class="topright">&times</span>

		<table id="tabl">
			<colgroup>
				<col span="1" class="head1">
				<col span="1" class="head2">
			</colgroup>


			<thead>
				<tr>
					<th>Name</th>
					<th>Link</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td>
						<h4>CAMPUS RECRUITMENT TRAINING</h4>
					</td>
					<td><a class="button"
							href="https://drive.google.com/file/d/1tRuMfdvMDlLKyibFvTYN8gLgfiLvdkf6/view?usp=sharing"
							target="_blank">view</a></td>
				</tr>


				<tr>
					<td>
						<h4>CAREER FAIR</h4>
					</td>
					<td><a class="button"
							href="https://drive.google.com/file/d/1W2TudUCnnjFtGa4sdTIbG_Fd1CMhYI9b/view?usp=sharing"
							target="_blank">view</a></td>
				</tr>


				<tr>
					<td>
						<h4>Career Options India and Abroad</h4>
					</td>
					<td><a class="button"
							href="https://drive.google.com/file/d/1a8K7HXTzY8tqykMMOVRhp9U0jqAIKTkn/view?usp=sharing"
							target="_blank">view</a></td>
				</tr>


				<tr>
					<td>
						<h4>Career Planning and Approach towards Success</h4>
					</td>
					<td><a class="button"
							href="https://drive.google.com/file/d/1RDfWim4b1mCGINnOb2O73cNi0IA7Nj8U/view?usp=sharing"
							target="_blank">view</a></td>
				</tr>


				<tr>
					<td>
						<h4>Workshop on Entrepreneurship</h4>
					</td>
					<td><a class="button"
							href="https://drive.google.com/file/d/1W1Yd8W-sjHUFII-DyfPPyd4CTkZKUeSW/view?usp=sharing"
							target="_blank">view</a></td>
				</tr>


				<tr>
					<td>
						<h4>How to prepare for UPSC and other Civil Service Exams</h4>
					</td>
					<td><a class="button"
							href="https://drive.google.com/file/d/13z8Jo8TcnM-g29RyGHFwvz3zsS7J-bl1/view?usp=sharing"
							target="_blank">view</a></td>
				</tr>


				<tr>
					<td>
						<h4>INDUSTRIAL VISIT- SCL MOHALI</h4>
					</td>
					<td><a class="button"
							href="https://drive.google.com/file/d/1JfVygShquTC2XqBNkRpxRia7LJmozpH_/view?usp=sharing"
							target="_blank">view</a></td>
				</tr>


				<tr>
					<td>
						<h4>STUDENT INDUSTRIAL VISIT TO ZTE MICROELCTRONICS</h4>
					</td>
					<td><a class="button"
							href="https://drive.google.com/file/d/1_VrS9MSWrddRl8p6QVpr3Ls3j3mw-3Pm/view?usp=sharing"
							target="_blank">view</a></td>
				</tr>

			</tbody>
		</table>
	</div>

	<div id="19" class="tabcontent">
		<span onclick="this.parentElement.style.display='none'" class="topright">&times</span>
		<table id="tabl">
			<colgroup>
				<col span="1" class="head1">
				<col span="1" class="head2">
			</colgroup>


			<thead>
				<tr>
					<th>Name</th>
					<th>Link</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td>
						<h4>Webinar on “Building motivation and Nurturing Opportunities: Post COVID-19 Lockdown- A
							special talk to students and parents”</h4>
					</td>
					<td><a class="button"
							href="https://drive.google.com/file/d/1el5VDxCrsDvMh1gEXAQFzWCqyG7k7wCl/view?usp=sharing"
							target="_blank">view</a></td>
				</tr>

				<tr>
					<td>
						<h4>Career Counseling by Alumni</h4>
					</td>
					<td><a class="button"
							href="https://drive.google.com/file/d/1hD1l42IWB1DS6bW8lnD_QYtGWsCE246I/view?usp=sharing"
							target="_blank">view</a></td>
				</tr>

				<tr>
					<td>
						<h4>HOW TO PREPARE FOR CAT EXAMS</h4>
					</td>
					<td><a class="button"
							href="https://drive.google.com/file/d/1bM33jzinFMOsgmE1H3X2nj6iCHiBJiJP/view?usp=sharing"
							target="_blank">view</a></td>
				</tr>

				<tr>
					<td>
						<h4>Preparation of Civil Services & Knowledge Management</h4>
					</td>
					<td><a class="button"
							href="https://drive.google.com/file/d/1zcEUKxuquOLXD-ZUKgl19I_TQh4UzSYg/view?usp=sharing"
							target="_blank">view</a></td>
				</tr>

				<tr>
					<td>
						<h4>Value Added Course on Cloud Computing</h4>
					</td>
					<td><a class="button"
							href="https://drive.google.com/file/d/19EkvS_yRbRNJKTNypQIQQrHgAYMjxqbz/view?usp=sharing"
							target="_blank">view</a></td>
				</tr>

				<tr>
					<td>
						<h4>Workshop on Improving Programming Fundamentals</h4>
					</td>
					<td><a class="button"
							href="https://drive.google.com/file/d/1aXwJZdRO86H1uwSut8BEy39YsA43lOhN/view?usp=sharing"
							target="_blank">view</a></td>
				</tr>

				<tr>
					<td>
						<h4>Goal Setting and Optimistic Approach</h4>
					</td>
					<td><a class="button"
							href="https://drive.google.com/file/d/15fX74WdkuRd4HGuKgT5CM6nztZSx3Ydh/view?usp=sharing"
							target="_blank">view</a></td>
				</tr>

				<tr>
					<td>
						<h4>Hit It And Quidditch</h4>
					</td>
					<td><a class="button"
							href="https://drive.google.com/file/d/1iIJqMYT1A6ANbzMRqQIHwFBxORuqf3X8/view?usp=sharing"
							target="_blank">view</a></td>
				</tr>

				<tr>
					<td>
						<h4>Webinar on “INDUSTRY 4.0: Thinking with ThingworX platform for IIOT4.0”</h4>
					</td>
					<td><a class="button"
							href="https://drive.google.com/file/d/1QwwJr7iMGrNMLILOtT7VjgXtmtxyLnQ5/view?usp=sharing"
							target="_blank">view</a></td>
				</tr>

				<tr>
					<td>
						<h4>E-Workshop on IP & Start-up</h4>
					</td>
					<td><a class="button"
							href="https://drive.google.com/file/d/1xGUTyW4K5UvR9ALy5MTrk9GXdfBWnVC7/view?usp=sharing"
							target="_blank">view</a></td>
				</tr>

				<tr>
					<td>
						<h4>Personality Development For BTech 2nd Year</h4>
					</td>
					<td><a class="button"
							href="https://drive.google.com/file/d/1tAlJNi9nLyvKddQ2cGDw7Il4cpRjDq5t/view?usp=sharing"
							target="_blank">view</a></td>
				</tr>

				<tr>
					<td>
						<h4>Wisdom Summit Session1</h4>
					</td>
					<td><a class="button"
							href="https://drive.google.com/file/d/1N6R9B5e2q4ObKb5RDU2RqP3AtCkmgT3i/view?usp=sharing"
							target="_blank">view</a></td>
				</tr>

				<tr>
					<td>
						<h4>How to prepare for UPSC Exams</h4>
					</td>
					<td><a class="button"
							href="https://drive.google.com/file/d/1UA5PBLw_cx0ybZrZ3-GC3IiMUriaHzdI/view?usp=sharing"
							target="_blank">view</a></td>
				</tr>

				<tr>
					<td>
						<h4>WISDOM SUMMIT</h4>
					</td>
					<td><a class="button"
							href="https://drive.google.com/file/d/1szvoJilD-UxNm8iXddTRbcDra_7fnFHi/view?usp=sharing"
							target="_blank">view</a></td>
				</tr>


			</tbody>

		</table>
	</div>

	<div id="20" class="tabcontent">
		<span onclick="this.parentElement.style.display='none'" class="topright">&times</span>
		<table id="tabl">
			<colgroup>
				<col span="1" class="head1">
				<col span="1" class="head2">
			</colgroup>


			<thead>
				<tr>
					<th>Name</th>
					<th>Link</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td>
						<h4> Is Covid 19 a Visible Situation </h4>
					</td>
					<td><a class="button"
							href="https://drive.google.com/file/d/1h87KOMUVx70RRnbMooUtq8p20ryBsxR4/view?usp=sharing"
							target="_blank">view</a></td>
				</tr>

				<tr>
					<td>
						<h4> Multimedia & Animation Webinar </h4>
					</td>
					<td><a class="button"
							href="https://drive.google.com/file/d/1fJpmcqbyXHwL_2MpW_iXmE6-KkL7ahaC/view?usp=sharing"
							target="_blank">view</a></td>
				</tr>

				<tr>
					<td>
						<h4> Career Options Abroad </h4>
					</td>
					<td><a class="button"
							href="https://drive.google.com/file/d/1jTkEqI_-_jsc3NKtEwq7KyWwepvuxccv/view?usp=sharing"
							target="_blank">view</a></td>
				</tr>

				<tr>
					<td>
						<h4> Career Opportunities In Germany </h4>
					</td>
					<td><a class="button"
							href="https://drive.google.com/file/d/1euH0l65UJMboE5Zt13xq3nG7pykjazlo/view?usp=sharing"
							target="_blank">view</a></td>
				</tr>

				<tr>
					<td>
						<h4> Career Landscape Abroad </h4>
					</td>
					<td><a class="button"
							href="https://drive.google.com/file/d/1xyigIgH8qvtrIdFqKO5uFQM_KbjA03nH/view?usp=sharing"
							target="_blank">view</a></td>
				</tr>

				<tr>
					<td>
						<h4> Analytical Tools And Techniques in Environmental Research</h4>
					</td>
					<td><a class="button"
							href="https://drive.google.com/file/d/13gxe7NCkLOPC5TCdB0FUXJLGFgP_k2Mi/view?usp=sharing"
							target="_blank">view</a></td>
				</tr>

				<tr>
					<td>
						<h4> Career Guidance on Upcoming Flutter Technology </h4>
					</td>
					<td><a class="button"
							href="https://drive.google.com/file/d/13gxe7NCkLOPC5TCdB0FUXJLGFgP_k2Mi/view?usp=sharing"
							target="_blank">view</a></td>
				</tr>


				<tr>
					<td>
						<h4> Future Of StartUp Post Covid Era</h4>
					</td>
					<td><a class="button"
							href="https://drive.google.com/file/d/1dantobHSbekYeZrL8FvaLGaRTCPxSGvQ/view?usp=sharing"
							target="_blank">view</a></td>
				</tr>

				<tr>
					<td>
						<h4> GATE 2021 Online Mock Test Series Electrical Engineering</h4>
					</td>
					<td><a class="button"
							href="https://drive.google.com/file/d/18fH3jGTQ1D27z2S4PC1TFVw1il6Z7zg3/view?usp=sharing"
							target="_blank">view</a></td>
				</tr>

				<tr>
					<td>
						<h4> Bhagwad Gita For Daily Enrichment </h4>
					</td>
					<td><a class="button"
							href="https://drive.google.com/file/d/1NJoYs4SGrm6BW2vNh1KPBfiUe5GXwVQP/view?usp=sharing"
							target="_blank">view</a></td>
				</tr>

				<tr>
					<td>
						<h4> Green Technologies & Environmental Sustainability (GTES-2020) </h4>
					</td>
					<td><a class="button"
							href="https://drive.google.com/file/d/1oa4cDWI1RpMbpDFeKm6i7w8pfjnqmpsh/view?usp=sharing"
							target="_blank">view</a></td>
				</tr>

				<tr>
					<td>
						<h4> One Week Workshop on “Hands on Training on IoT Modules” </h4>
					</td>
					<td><a class="button"
							href="https://drive.google.com/file/d/1eaDG2CvZj9iYg7iiGGfn8gnn2NfWGUvp/view?usp=sharing"
							target="_blank">view</a></td>
				</tr>

				<tr>
					<td>
						<h4> Lecture Series on “Human Values and Life Skills”</h4>
					</td>
					<td><a class="button"
							href="https://drive.google.com/file/d/1aNsUZ2RGyYJP-_P2qwRPshel4G46Ca8v/view?usp=sharing"
							target="_blank">view</a></td>
				</tr>

				<tr>
					<td>
						<h4> IAS FORUM</h4>
					</td>
					<td><a class="button"
							href="https://drive.google.com/file/d/1KJI9c78UDMkU2iVUiPxB0xnHJ98fPGxW/view?usp=sharing"
							target="_blank">view</a></td>
				</tr>

				<tr>
					<td>
						<h4> Leadership Talk with Sh Ravindra Kumar on Topic “Many Everests and My Life</h4>
					</td>
					<td><a class="button"
							href="https://drive.google.com/file/d/1wibHV-m8zyvEX6gbD0EO6gm-lVPB5xlH/view?usp=sharing"
							target="_blank">view</a></td>
				</tr>


				<tr>
					<td>
						<h4> Webinar on “How to plan for Start-up and Legal & Ethical steps”</h4>
					</td>
					<td><a class="button"
							href="https://drive.google.com/file/d/1KuIQIQ5iW78X_F6gjTjQPHLrBjPQygF4/view?usp=sharing"
							target="_blank">view</a></td>
				</tr>


				<tr>
					<td>
						<h4> Bulding Blocks Of Programming</h4>
					</td>
					<td><a class="button"
							href="https://drive.google.com/file/d/1OrNDyQ2QJwofo0XcZAnjnB2oPogzxUGZ/view?usp=sharing"
							target="_blank">view</a></td>
				</tr>


				<tr>
					<td>
						<h4> Expert Lecture on “Various Scholarship offered by various Countries”</h4>
					</td>
					<td><a class="button"
							href="https://drive.google.com/file/d/1-9XpUmKr1LvYIv-NcJZbnmVIBujHmQ5P/view?usp=sharing"
							target="_blank">view</a></td>
				</tr>


				<tr>
					<td>
						<h4> VALUE ADDED E - COURSE ON AI SKILL ENHANCEMENT</h4>
					</td>
					<td><a class="button"
							href="https://drive.google.com/file/d/1aopCm1wyK77Sf3aReNKCNgenxFl6cTP_/view?usp=sharing"
							target="_blank">view</a></td>
				</tr>


				<tr>
					<td>
						<h4> An Interactive Mentoring Session with “Successful Start-up Founder”: Mr Murli Menon on the
							topic “How to be a Successful
							Entrepreneur”</h4>
					</td>
					<td><a class="button"
							href="https://drive.google.com/file/d/1Wm-ht2UxgpwuJz2yPDvDLW9r8_34u7S2/view?usp=sharing"
							target="_blank">view</a></td>
				</tr>


				<tr>
					<td>
						<h4> Achieving Career Goals by Efficient Time and Stress Management</h4>
					</td>
					<td><a class="button"
							href="https://drive.google.com/file/d/1LJfnHKqLXjVZPPlBsnWGUungGuhT6IVp/view?usp=sharing"
							target="_blank">view</a></td>
				</tr>


				<tr>
					<td>
						<h4> How to prepare for UPSC Civil Services Exam </h4>
					</td>
					<td><a class="button"
							href="https://drive.google.com/file/d/1182TcjYTS3A1ai4Q17iQ3xSiR2QG0fs2/view?usp=sharing"
							target="_blank">view</a></td>
				</tr>



			</tbody>
		</table>

	</div>



	<script>
		function openYear(evt, yearName) {
			var i, tabcontent, tablinks;
			tabcontent = document.getElementsByClassName("tabcontent");
			for (i = 0; i < tabcontent.length; i++) {
				tabcontent[i].style.display = "none";
			}
			tablinks = document.getElementsByClassName("tablinks");
			for (i = 0; i < tablinks.length; i++) {
				tablinks[i].className = tablinks[i].className.replace(" active", "");
			}
			document.getElementById(yearName).style.display = "block";
			evt.currentTarget.className += " active";
		}

		// Get the element with id="defaultOpen" and click on it
		document.getElementById("defaultOpen").click();
	</script>



</body>

<style>
	#tabl {
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
		border-collapse: collapse;
		width: 100%;
	}


	.head1 {
		width: 60%;
	}

	.head2 {
		width: 40%
	}


	@media (max-width: 1079px) {

		.head1 {
			width: 50%;
		}

		.head2 {
			width: 50%
		}

	}


	#tabl th {
		border: 1px solid #ddd;
		padding: 8px;
		padding-top: 12px;
		padding-bottom: 12px;
		text-align: center;
		background-color: #f8f9fa;
		color: black;
		font-size: xx-large;
		font-family: 'ZCOOL XiaoWei', serif;
		font-size: 30px;
	}

	#tabl td {
		border: 1px solid #ddd;
		padding: 8px;
		background-color: #ffffff;
		width: 25%;
		color: black;
	}


	/* Style the tab */
	.tab {
		overflow: hidden;
		margin-left: 2.5%;
		margin-right: 2.5%;
		color: white;
		background-color: #f8f9fa;
	}

	/* Style the buttons inside the tab */
	.tab button {
		text-align: center;
		font-family: sans-serif;
		text-decoration: none;
		padding-bottom: 20px;
		background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 10, 151, 1) 0%, rgba(255, 0, 0, 1) 100%);
		color: rgb(255, 255, 255);
		padding: 14px 15px;
		margin: 8px 0;
		border: none;
		border-radius: 15px;
		cursor: pointer;
		opacity: 0.8;
		width: 15%;
		opacity: 0.9;
	}

	/* Change background color of buttons on hover */
	.tab button:hover {
		background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 10, 151, 1) 0%, rgba(255, 0, 0, 1) 100%);
		opacity: 1;
	}

	/* Create an active/current tablink class */
	.tab button.active {
		background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 10, 151, 1) 0%, rgba(255, 0, 0, 1) 100%);
	}

	/* Style the tab content */
	.tabcontent {
		display: none;
		padding: 6px 12px;
		text-align: center;
		color: white;
		margin-left: 2.5%;
		margin-right: 2.5%;
		align-content: center;
	}

	/* Style the close button */
	.topright {
		float: right;
		cursor: pointer;
		font-size: 28px;
	}

	.topright:hover {
		color: red;
	}

	.button {
		-webkit-appearance: button;
		-moz-appearance: button;
		appearance: button;
		text-align: center;
		font-family: sans-serif;
		text-decoration: none;
		padding-bottom: 20px;
		background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 10, 151, 1) 0%, rgba(255, 0, 0, 1) 100%);
		color: rgb(255, 255, 255);
		padding: 14px 15px;
		margin: 8px 0;
		border: none;
		border-radius: 10px;
		cursor: pointer;
		opacity: 0.8;
		width: 25%;
		opacity: 0.9;
	}


	@media (max-width: 1079px) {

		.button {
			width: 85%;
		}
	}

	.button:hover {
		background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 10, 151, 1) 0%, rgba(255, 0, 0, 1) 100%);
		opacity: 1;
	}


	.navigation-bar {
		padding: 5px;
		margin: 0px;
		text-align: center;
		vertical-align: top;
	}

	.navigation-bar ul {
		padding: 7px;
		margin: 0px;
		align-content: center;
		text-align: center;
		display: inline-block;
		vertical-align: top;
	}
</style>

</html>