{% extends 'base.html' %}

{% block content %}
<div style="background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,10,151,1) 0%, rgba(255,0,0,1) 100%); padding: 20px; padding-top: 50px">
<br>
<br>
<br>
<div class="card container">
<h2 style="text-align: center; margin: 20px">Edit Profile</h2>
    <div class="align-content-sm-center">
<div class="form">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token%}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                </legend>

                <div style="text-align: left">
                    {{ userform.as_p }}
                    {{ studentform.as_p }}
                </div>
                <div class="rounded" style="text-align: center; background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,10,151,1) 0%, rgba(255,0,0,1) 100%);">
                    <input class="btn text-white" type="submit" value="Submit">
                </div>
            </fieldset>
    </form>
    </div>
    </div>
</div>
</div>
{% endblock %}
