{% extends 'base.html' %}
{% load static %}
{% block static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    {% endblock %}

{% block content %}
<div class="banner6 py-5">
  <!-- Row  -->
  <div class="row">
    <div class="container">
      <div class="col-lg-6 align-justify-center pr-4 pl-0 contact-form">
        <div class="form">
            <h2 class="mb-4 font-weight-light"><center>Login</center></h2>
          <form class="mt-3" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group" align="center">
                  <input class="form-control" name="username" placeholder="username">
                </div>
              </div>

              <div class="col-lg-12" align="center">
                <div class="form-group">
                  <input class="form-control" type="password" name="password" placeholder="password">
                </div>
              </div>

              <div class="col-lg-12" align="center">
                <button type="submit" value="submit" class="btn  btn-md btn-block text-white btn-danger border-0"><span> Login </span></button>
                <!--  -->
              </div>
            </div>
          </form>
            <div class="col-lg-10 text-center mt-4">
              Don't have an account? <a href="{% url 'accounts:register' %}" class="text-danger">Sign Up</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 right-image pl-3" style="background-image:url(https://instagram.fdel1-4.fna.fbcdn.net/v/t51.2885-15/e35/67805153_109542143596248_8451349811229004182_n.jpg?_nc_ht=instagram.fdel1-4.fna.fbcdn.net&_nc_cat=100&_nc_ohc=VGl-p6RMdysAX_U6bo6&oh=ffb605455a55d9d27deee8622be93dca&oe=5E97F1E9);">
    </div>
  </div>
</div>
    {% endblock %}
    {% block scripts %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    {% endblock %}