{% extends 'base.html' %}
{% load static %}
{% block static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login | Career and Counseling Cell | JC Bose University</title>
    <meta name="title" content="Login | Career and Counseling Cell | JC Bose University">
    <meta name="description" content="Career and Counseling helps student to achieve excellence in their respective fields. We guide students by conducting seminars by their Role Models and help them to overcome the barrier.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.cncjcbust.tech/login/">
    <meta property="og:title" content="Login | Career and Counseling Cell | JC Bose University">
    <meta property="og:description" content="Career and Counseling helps student to achieve excellence in their respective fields. We guide students by conducting seminars by their Role Models and help them to overcome the barrier.">
    <meta property="og:image" content="{% static 'img/logo.png' %}">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://www.cncjcbust.tech/login/">
    <meta property="twitter:title" content="Login | Career and Counseling Cell | JC Bose University">
    <meta property="twitter:description" content="Career and Counseling helps student to achieve excellence in their respective fields. We guide students by conducting seminars by their Role Models and help them to overcome the barrier.">
    <meta property="twitter:image" content="{% static 'img/logo.png' %}">

    {% endblock %}

{% block content %}
<br>
<br>
<br>
<div style="background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,10,151,1) 0%, rgba(255,0,0,1) 100%); padding: 50px;">
<div class="card wow slideInUp container mt-5 border-white border rounded shadow-lg" style="display: flex; justify-content: center;">
    <div class="mt-3" align="center">
        <img src="{% static 'img/loginlogo.png' %}" height="80" width="80" class="rounded">
    </div>
    <div class="container">
        <div class="form">
            <h2 class="mb-4 font-weight-light mt-3"><center>Login</center></h2>
          <form class="mt-3" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group" align="center">
                  <input class="form-control" name="username" placeholder="Username" style="border-radius: 30px;">
                </div>
              </div>

              <div class="col-lg-12" align="center">
                <div class="form-group">
                  <input class="form-control" type="password" name="password" placeholder="Password" style="border-radius: 30px;">
                </div>
              </div>

              <div class="col-lg-12" align="center">
                <button style="border-radius: 30px; background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,10,151,1) 0%, rgba(255,0,0,1) 100%);" type="submit" value="submit" class="btn  btn-md btn-block text-white border-0"><span> Login </span></button>
                <!--  -->
              </div>
            </div>
          </form>
            <div class="col mt-4" align="center">
              Don't have an account? <a href="{% url 'accounts:register' %}" class="text-danger">Sign Up</a>
            </div>
            <div class="col mt-1" align="center">
              Forgot Password? <a href="/password_reset" class="text-danger">Reset</a>
            </div>

          </div>
    </div>
</div>
</div>




    {% endblock %}
    {% block scripts %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    {% endblock %}