<div class="container body">
</div>
    <center>
    <div class="card profilebody border-white border rounded shadow-lg img-fluid" style="height: auto; margin-top: -150px;">
            <div class="profile">
                <div class="profilephoto" style="margin-top: 30px;">
                    {% if user_instance.userprofile.pic %}
                    <a href="#">
                        <img src="{{user_instance.userprofile.pic.url}}" height="100" width="100" class="rounded-circle">
                    </a>
                    {% endif %}
                </div>
                <div class="profiledetails">
                    <br>
                    <h2>{{user_instance.first_name|capfirst}} {{ user_instance.last_name|capfirst }}</h2>
                    <br>
                    <!-- and role or location -->
                    <h4>{{profile.roll_no}}</h4><br>
                    <h5><p>{{profile.course}} - {{ profile.branch }}</p></h5>


                    {% if request.user == user_instance %}
                     <hr>
                    <button class="btn-group align-center mb-3" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-primary "><a href="{% url 'accounts:edit_student_profile' user_instance.username %}">Edit Profile</a></button>
                        <button type="button" class="btn btn-danger"><a href="{% url 'change_password' %}">Password</a></button>
                    </div>
                    {% endif %}
                </div>

            </div>
    </div>
    </center>
    <br>


    <div class="container certibody">
        <div style="text-align: center">
            <h2 class="text-white img-fluid">
                CERTIFICATES
            </h2>
            <br><br>
        {% if user_instance.registration_set.exists %}

                <div class="row user-list">
                {% for registration in certificates %}
                {% if registration.attended == 'A'%}
                    <div class="col item">
                        <div class="card border-white border rounded shadow-lg" data-bs-hover-animate="pulse" style="width: 23rem; height: auto;">
                            <div class="card-body">
                                <h4 class="card-title" style="margin-top: 5px;"><strong>{{ registration.event.event_name|capfirst }}</strong></h4>
                                <h6 class="text-muted card-subtitle mb-2" style="margin-top: 0px;">{{ registration.event.date }}</h6>
                                <p class="card-text" style="width: 180px;margin-top: 15px;margin-bottom: 20px;">{{ registration.event.description|capfirst }}</p>

                                <div class="btn-group" role="group">
                                    <button class="btn bg-danger" type="button" ><a href="{% url 'events:certificate' user_instance.username registration.event.id %}">Certificate</a></button>
                                    <br>
                                    <button class="btn bg-info" type="button"><a href="{% url 'events:events_detail' registration.event.id %}">Detail</a></button>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endif %}
                {% endfor %}
                </div>
        {% endif %}
        </div>
    </div>


<style>
    .body{
        margin-top: 25px;
        background-color: white;
        padding-top: 150px;
    }
    .row .item{
        margin-bottom: 20px;
    }
    a{
        text-decoration: none;
        color: white;
    }
    a:hover{
        text-decoration: none;
        color: white;
    }
    .editoptions{
        text-align: center;
    }

</style>

