{% extends 'base.html' %}
{% load static %}
    {% block static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{user_instance.first_name|capfirst}} {{ user_instance.last_name|capfirst }} | Career and Counseling Cell | JC Bose UST</title>
    <meta name="title" content="{{user_instance.first_name|capfirst}} {{ user_instance.last_name|capfirst }} | Career and Counseling Cell | JC Bose UST">
    <meta name="description" content="Career and Counseling helps student to achieve excellence in their respective fields. We guide students by conducting seminars by their Role Models and help them to overcome the barrier.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.cncjcbust.tech/">
    <meta property="og:title" content="{{user_instance.first_name|capfirst}} {{ user_instance.last_name|capfirst }} | Career and Counseling Cell | JC Bose UST">
    <meta property="og:description" content="Career and Counseling helps student to achieve excellence in their respective fields. We guide students by conducting seminars by their Role Models and help them to overcome the barrier.">
    <meta property="og:image" content="{{user_instance.pic.url}}">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://www.cncjcbust.tech/">
    <meta property="twitter:title" content="{{user_instance.first_name|capfirst}} {{ user_instance.last_name|capfirst }} | Career and Counseling Cell | JC Bose UST">
    <meta property="twitter:description" content="Career and Counseling helps student to achieve excellence in their respective fields. We guide students by conducting seminars by their Role Models and help them to overcome the barrier.">
    <meta property="twitter:image" content="{{user_instance.pic.url}}">


    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    {% endblock %}

{% block content %}
<div style="background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,10,151,1) 0%, rgba(255,0,0,1) 100%); padding: 20px; padding-top: 50px">
<br>
<br>
<br>

                {% include 'accounts/profile card.html' %}
</div>
{% endblock %}