<div class="container body">
</div>
    <center>
    <div class="card profilebody border-white border rounded shadow-lg" style="width: 80%; height: 30rem; margin-top: -150px; height: 27rem;">
            <div class="profile">
                <div class="profilephoto" style="margin-top: 30px;">
                    {% if user_instance.userprofile.pic %}
                    <a href="#">
                        <img src="{{user_instance.userprofile.pic.url}}" height="100" width="100" class="rounded-circle">
                    </a>
                    {% endif %}
                </div>
                <div class="profiledetails">
                    <br>
                    <h1>{{user_instance.first_name|capfirst}} {{ user_instance.last_name|capfirst }}</h1>
                    <br>
                    <!-- and role or location -->
                    <h2>{{profile.roll_no}}</h2><br>
                    <h3><p>{{profile.course}} - {{ profile.branch }}</p></h3>
                    <hr>

                    {% if request.user == user_instance %}
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-info">Edit Profile</button>
                        <button type="button" class="btn btn-danger">Change Password</button>
                    </div>
                    {% endif %}
                </div>

            </div>
    </div>
    </center>
    <br>
    <hr>

    <div class="container certibody">
        <center>
            <h1>
                <br>
                CERTIFICATES
            </h1>
            <br><br>
        {% if user_instance.registration_set.exists %}

                <div class="row user-list">
                {% for registration in certificates %}
                {% if registration.attended == 'A'%}
                    <div class="col item">
                        <div class="card border-white border rounded shadow-lg" data-bs-hover-animate="pulse" style="width: 17rem; height: 15rem;">
                            <div class="card-body">
                                <h4 class="card-title" style="margin-top: 5px;"><strong>{{ registration.event.event_name|capfirst }}</strong></h4>
                                <h6 class="text-muted card-subtitle mb-2" style="margin-top: 0px;">{{ registration.event.date }}</h6>
                                <p class="card-text" style="width: 180px;margin-top: 15px;margin-bottom: 20px;">{{ registration.event.description|capfirst }}</p>

                                <div class="btn-group" role="group">
                                    <button class="btn bg-danger" type="button" ><a href="{% url 'events:certificate' user_instance.username registration.event.id %}">Certificate</a></button>
                                    <br>
                                    <button class="btn bg-info" type="button"><a href="{% url 'events:events_detail' registration.event.id %}">Detail</a></button>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endif %}
                {% endfor %}
                </div>
        {% endif %}
        </center>
    </div>


<style>
    .body{
        margin-top: 25px;
        background-color: white;
        padding-top: 150px;
    }
    .row .item{
        margin-bottom: 20px;
    }
    a{
        text-decoration: none;
        color: white;
    }
    a:hover{
        text-decoration: none;
        color: white;
    }
    .editoptions{
        text-align: center;
    }

</style>

