{% extends 'base.html' %}
{% block content %}

<h1>{{user_instance.first_name}} {{ user_instance.last_name }}</h1>
<h2>{{profile.course}} - {{ profile.branch }}</h2>
<h3>{{profile.roll_no}}</h3>

<br>
<br>

{% if user_instance.registration_set.exists %}
<h1>Attended Events - Certificates</h1>
    {% for registration in certificates %}
    {% if registration.attended == 'A'%}
        <h3>Attended --> {{ registration.event.event_name }} - {{ registration.event.date }}</h3>
        <a href="{% url 'events:certificate' user_instance.username registration.event.id %}" >Get PDF</a>
    {% endif %}
    {% empty %}<h3>No Certificates</h3>
    {% endfor %}
    {% endif %}
{% endblock %}
