{% extends 'base.html' %}
{% block content %}
<br>
<br>
<br>
<div  class="wow slideInUp" style="background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,10,151,1) 0%, rgba(255,0,0,1) 100%); padding: 20px; padding-top: 50px">
<div class="container card blog-content border-grey border rounded shadow-lg">
    <div class="post-title">
        {{ post.title }}
    </div>
    <div class="post-date">
        {{ post.date }}
    </div>
    <hr>
    <div class="post-img" style="text-align: center">
        <img src="{{ post.pic1.url }}" class="posts-img img-fluid" style="height: 300px">
    </div>
    <div class="post-content">
        <p> {{ post.content|escape|linebreaks }} </p>
    </div>
</div>



<div class="container card  blog-content border-grey border rounded shadow-lg" style="border-radius: 10%">
<div class="post-comments">
    <div class="comment-heading" style="text-align: center">
        Comments
        <hr>
    </div>
    {% if comments %}
    <div class="container comments">
        {% for comment in comments  %}
        <div class="container media mt-2">
            <a href="{% url 'accounts:dashboard' comment.comment_user.username %}"><img class="mr-3 rounded-circle" src="{{ comment.comment_user.userprofile.pic.url }}" height="64" width="64"></a>
            <div class="media-body" style="text-align: left; width: 30%; margin-right: 10%;">
                <a href="{% url 'accounts:dashboard' comment.comment_user.username %}"><h4 class="mt-0">{{ comment.comment_user }}</h4></a>
                {{comment.comment_date}}
                <h5 class="">{{comment.comment_author}}</h5>
                <h5>{{comment.comment_content}}</h5>

                <br><hr>
            </div>
            <div class="media mt-3">
                <div class="media-body">
                    {% if request.user == comment.comment_user %}
                        <a href="{%  url 'blog:comment_delete' post.id comment.id%}" class="btn" style="background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,10,151,1) 0%, rgba(255,0,0,1) 100%); color: ghostwhite"> Delete </a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}





    {% if request.user.is_authenticated %}
        <div class="form" style="margin-top: 20px; margin-bottom: 20px;">
            <div class="row">
                <div class="col-md-1">
                    {% if user_instance.userprofile.pic %}
                    <img src="{{user_instance.userprofile.pic.url}}" class="rounded-circle" height="100" width="100">
                    {% endif %}
                </div>
                <div class="col-md-11">
                    <form method="POST">
                    {% csrf_token%}
                    <fieldset class="form-group">
                        <div class="row container ml-1">
                            <div class="col-md-10 col-sm-9 bg-danger rounded"><input name="comment_content" class="form-control"></div>
                            <div class="col-md-1 col-sm-1"><button class="btn btn-danger bg-danger rounded shadow-md" type="submit" value="Comment">Comment</button></div>
                        </div>
                    </fieldset>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
</div>
</div>
</div>
<style>
    .blog-content{

        margin-top: 30px;
    }
    .post-title{
        text-align: center;
        margin-top: 30px;
        font-size: 35px;
        font-weight: bold;
        text-transform: uppercase;

    }
    .post-date{
        font-size: 15px;
        text-align: center;
    }
    .post-content{
        margin-top: 30px;
        font-size: 20px;
        margin-bottom: 30px;
    }
    .comment-heading{
        margin-top:30px;
        font-size: 30px;
        text-transform: uppercase;

    }

</style>

{% endblock %}