{% extends 'base.html' %}
{% block content %}

    <h1>{{ post.title }}</h1>
    {{ post.description }}
    {{ post.date }}<br>
    {{ post.content }}
    <br>
    <img class="img-fluid rounded" src="{{post.pic1.url }}" alt="" height="100" width="100">
    {% if comments %}
        <h2>Comments</h2>
      {% for comment in comments  %}
        <div class="media mb-4">
          <div class="media-body">
            <h5 class="mt-0">{{comment.comment_author}}</h5>
            {{comment.comment_date}} <br>
            {{comment.comment_content}}
          </div>
        </div>
      {% endfor %}
{% endif %}

{% endblock %}
