{% extends 'base.html' %}
{% block content %}

<div class="container blog-content">
    <div class="post-title">
        {{ post.title }}
    </div>
    <div class="post-date">
        {{ post.date }}
    </div>
    <div class="post-img">
        <img src="{{post.pic1.url }}">
    </div>
    <div class="post-content">
        {{ post.content }}
    </div>
</div>




<div class="post-comments">
    <div class="comment-heading">
        Comments
    </div>
    {% if comments %}
    <div class="comments">
        {% for comment in comments  %}
        <div class="media mb-4">
          <div class="media-body">
            <h5 class="mt-0">{{comment.comment_author}}</h5>
                {{comment.comment_date}}
              <br>
              <strong>{{ comment.comment_user }}</strong> - {{comment.comment_content}}
              {% if request.user == comment.comment_user %}
                <a href="{%  url 'blog:comment_delete' post.id comment.id%}"> Delete </a>
              {% endif %}
          </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if request.user.is_authenticated %}
        <div class="form">
            <form method="POST">
                {% csrf_token%}
                <fieldset class="form-group">
                    {{ form.as_ul }}
                    <input type="submit" value="submit" >
                </fieldset>
            </form>
        </div>
    {% endif %}
</div>


{% endblock %}
















{% extends 'base.html' %}
{% block content %}

    <h1>{{ post.title }}</h1>
    {{ post.description }}
    {{ post.date }}<br>
    {{ post.content }}
    <br>
    <img class="img-fluid rounded" src="{{post.pic1.url }}" alt="" height="100" width="100">




<h2>Comments</h2>
    {% if comments %}

      {% for comment in comments  %}
        <div class="media mb-4">
          <div class="media-body">
            <h5 class="mt-0">{{comment.comment_author}}</h5>
                {{comment.comment_date}}
              <br>
              <strong>{{ comment.comment_user }}</strong> - {{comment.comment_content}}
              {% if request.user == comment.comment_user %}
                <a href="{%  url 'blog:comment_delete' post.id comment.id%}"> Delete </a>
              {% endif %}
          </div>
        </div>
      {% endfor %}
    {% endif %}




        {% if request.user.is_authenticated %}
        <div class="form">
            <form method="POST">
                {% csrf_token%}
                <fieldset class="form-group">
                    {{ form.as_ul }}
                    <input type="submit" value="submit" >
                </fieldset>
            </form>
        </div>
        {% endif %}
{% endblock %}