{% extends 'base.html' %}
{% block content %}

<!-- Start: Bold BS4 About and Team Section -->
    <div class="container" style="margin-top: 40px;">
        <h1 class="text-center">ABOUT</h1>
        <pre>Career and Counselling Cell has been established in the University on 5th May 2015. Official email id of the cell is cccell@jcboseust-ymca.ac.in</pre>
        <p class="text-center" style="margin-top: 30px;"><pre>
        <b><h2> Broad objective of the cell are as follows:</h2></b>
    a.       To help students to chalk out academic and career roadmaps for themselves.

    b.       To create awareness among the students about emerging professional trends and entrepreneurship and market needs etc.

    c.        To provide guidance to the students on various options available for higher studies available in India and abroad.

    d.       To help the students in the development of their strengths, sharpening their interests and planning for a satisfying future.

    e.        To provide guidance for personality development, positive attitude and inter-personal skills.

    f.        To promote Value System and National Integration among students.


        <b> <h2> Avenues of Operation:</h2></b>
    The cell would facilitate following activities in broad ways:
    a.       Organising expert lectures in different subjects for the students.

    b.       Organise seminars for career building of the students in different areas.

    c.        Organize counselling sessions for students.

    d.       Organise career fair for the students.
        </pre></p><br><br>
    </div>
    {% include 'core/teachers.html' %}
    {% include 'core/studentmember1.html' %}
{% endblock %}
<!-- ndeu -->