<div class="container" style="height: auto;">
    <div class="card border-white border shadow-lg rounded">
        <div class="mt-3 mb-1" style="text-align: center;"><h1>About College</h1></div>
        <hr>
        <div class="row">
          <img class="col-sm-6 col-md-4 card-top ml-3" style="border-radius: 3px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTw1AYuYSwQ4cyP1eGrwDgw5yW-l1b_dAAQt-iJW7zNXZ-qx2sY" width="300px" height="300px">
            <div class="col-sm-6 col-md-7">
                J.C. Bose University was established in 1969 as an Indo-German project, a joint venture of the National
                Council of YMCAs of India, the Government of Haryana and the German Central Agencies for Development Aid,
                Bonn, Germany. It was affiliated to M.D. University. In 1996 the state government took full control
                over the college. In 2009 it became a university through the YMCA University of Science and Technology
                Faridabad Act, 2009. In 2018 it was renamed to its current name through the YMCA University of Science and Technology Faridabad (Amendment) Act,
                2018.
                <br><br>
                YMCA University offers undergraduate B.Tech and graduate Master of Technology (M.Tech) courses in various
                engineering fields. It also offers other postgraduate courses offering Master of Science, Master of Arts
                and Master of Computer Applications degrees. university also offers 3 year degree courses like Bachelor
                of Computer Application (BCA), Bachelor of Science in subjects Physics, Chemistry, Maths, Animation & Multimedia.
            </div>
        </div>

        <div class="card-title">

        </div>
    </div>
</div>