{% load static %}
{% block static %}
<!-- ===============  for recent_blogs.html ================ -->
        <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">


{% endblock %}


<section class="s-extra">

        <div class="row">

            <div class="col-seven md-six tab-full popular">
                <h3>Popular Posts</h3>

                <div class="block-1-2 block-m-full popular__posts">


                    {% for event in events %}
                    {% if forloop.counter <= 6 %}

                    <article class="col-block popular__post">
                        <a href="{% url 'events:events_detail' event.id %}" class="popular__thumb">
                            <img src="{{ event.pic2.url }}" alt="">
                        </a>
                        <a><h5>{{ event.event_name|title|truncatewords:6 }}</h5></a>
                        <section class="popular__meta">
                            <span class="popular__date"><span>on</span> <time datetime="2018-06-14">{{ event.date|date:" d F Y" }}</time></span>
                        </section>
                    </article>

                        {% endif %}
                    {% endfor %}


                </div> <!-- end popular_posts -->
            </div> <!-- end popular -->





















            <div class="col-four md-six tab-full end">
                <div class="row">
                    <div class="col-six md-six mob-full categories">
                        <h3>Categories</h3>

                        <ul class="linklist">
                            <li><a href="#0">Lifestyle</a></li>
                            <li><a href="#0">Travel</a></li>
                            <li><a href="#0">Recipes</a></li>
                            <li><a href="#0">Management</a></li>
                            <li><a href="#0">Health</a></li>
                            <li><a href="#0">Creativity</a></li>
                        </ul>
                    </div> <!-- end categories -->

                    <div class="col-six md-six mob-full sitelinks">
                        <h3>Site Links</h3>

                        <ul class="linklist">
                            <li><a href="#0">Home</a></li>
                            <li><a href="#0">Blog</a></li>
                            <li><a href="#0">Styles</a></li>
                            <li><a href="#0">About</a></li>
                            <li><a href="#0">Contact</a></li>
                            <li><a href="#0">Privacy Policy</a></li>
                        </ul>
                    </div> <!-- end sitelinks -->
                </div>
            </div>
        </div> <!-- end row -->

    </section> <!-- end s-extra -->


{% block static %}
    <!-- ============ for recent_blog.html =============== -->
    <!-- ================================================== -->
    <script src="{% static 'js/modernizr.js'%}"></script>
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}