{% load static %}
{% block static %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/Team-Grid.css' %}">

{% endblock %}

{% block content %}    <div class="team-grid">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Student Members</h2>
                <p class="text-center">We are Blessed to have a great supportive team.&nbsp; </p>
            </div>
            <div class="row people">



                {% for member in members %}

                <div class="col-md-4 col-lg-3 item">
                    <div class="box" style="background-image:url({{ member.userprofile.pic.url }})">
                        <div class="cover">
                            <h3 class="name">{{member.user.first_name}} {{ member.user.last_name }}</h3>
                            <h4>{{ member.userprofile.roll_no }} - {{ member.userprofile.course }} {{ member.userprofile.branch }} </h4>
                            <p class="title">{{ member.description }}</p>
                            <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                        </div>
                    </div>
                </div>
                {% endfor %}



        </div>
    </div>
{% endblock %}

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
