{% load static %}
{% block static %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">


{% endblock %}

{% block content %}

<div class="container certibody  wow slideInUp">
        <center>
            <h1>
                <br>
                STUDENT MEMBERS
            </h1>
            <br><br>

                <div class="row user-list">
                {% for member in members %}
                    <div class="col item">
                        <div class="card border-white border rounded shadow-lg" data-bs-hover-animate="pulse" style="width: 18rem;">
                            <div class="card-body">
                                <div class="card-title" style="margin-top: 5px;"><a href="{% url 'accounts:dashboard' member.user.username %}"><img class="img" src="{{ member.userprofile.pic.url }}" height="130" width="130"></a></div>
                                <a href="{% url 'accounts:dashboard' member.user.username %}"><h6 class="text-muted card-subtitle mb-2 name" style="margin-top: 0px;">{{member.user.first_name}} {{ member.user.last_name }}</h6></a>
                                <p class="card-text title" style="width: 180px;margin-top: 15px;margin-bottom: 20px;">{{ member.userprofile.course }} - {{ member.userprofile.branch }} {{ member.userprofile.roll_no }}</p>

                                {% if member.description %}
                                <p class="description">{{ member.description }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
        </center>
    </div>
<style>
    .img{
        border: 0.4rem solid #d9534f;
        border-radius: 100%;
    }
    .row .item{
        margin-bottom: 20px;
    }
</style>

{% endblock %}

    {% block scripts %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

{% endblock %}



