{% load static %}
{% block static %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">


{% endblock %}

{% block content %}

<div class="container certibody wow slideInUp">
        <center>
            <h1>
                <br>
                FACULTY COORDINATORS
            </h1>
            <br><br>

                <div class="row user-list">
                {% for faculty in faculties %}
                    <div class="col item">
                        <div class="card border-white border rounded shadow-lg" data-bs-hover-animate="pulse" style="width: 18rem;">
                            <div class="card-body">
                                <div class="card-title" style="margin-top: 5px;"><img class="img" src="{{ faculty.pic.url }}" height="130" width="130"></div>
                                <h6 class="text-muted card-subtitle mb-2 name" style="margin-top: 0px;">{{faculty.user.first_name}} {{ faculty.user.last_name }}</h6>
                                <p class="card-text title" style="width: 180px;margin-top: 15px;margin-bottom: 20px;">{{ faculty.department }}</p>

                                {% if faculty.position %}
                                <p class="description">{{ faculty.position }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
        </center>
    </div>
<style>
    .img{
        border: 0.4rem solid #d9534f;
        border-radius: 100%;
    }
    .row .item{
        margin-bottom: 20px;
    }
</style>

{% endblock %}

    {% block scripts %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

{% endblock %}



