{% extends 'base.html' %}
{% load static %}
{% block static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Side-By-Side-Section.css' %}">
{% endblock %}

{% block content %}
<br>
<br>
<br>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-12">


                <h1>Career and Couseling Cell: Blogs</h1>
                <br> 

                  {% for post in posts %}
                  <figure class="snip1527" >
                    <div class="image"><img src="{{ post.pic1.url }}" alt="" height="400" width="320"/></div>
                    <figcaption>
                    <div class="date"><span class="day">28</span><span class="month">Oct</span></div>
                    <h3>{{post.title}}</h3>
                    <p>
                      {{ post.description }}
                      </p>
                    </figcaption>
                    <a href="{% url 'blog:detail' post.id %}"></a>
                  </figure>
                  {% endfor %}



                </div>


                <br>
                <div class="pagination">
                 <span class="step-links">
                    {% if posts.has_previous %}
                    <a href="?page=1">&laquo; First</a>
                    <a href="?page={{ posts.previous_page_number }}">Previous</a>
                    {% endif %}

                  {% for i in allposts.page_range %}
                      {% if i > posts.number|add:'-3' and i < posts.number|add:'3' %}
                      <a href="?page={{ i }}">{{ i }}</a>
                      {% endif %}
                 {% endfor %}

                  {% if posts.has_next %}
                      <a href="?page={{ posts.next_page_number }}">Next</a>
                      <a href="?page={{ posts.paginator.num_pages }}">Last &raquo;</a>
                  {% endif %}
              </span>
              </div>



            </div>
        </div>
    </div>



    {% endblock %}


    {% block scripts %}
    <script src="{% static 'js/jquery.min.js'%}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
   {% endblock %}