<html lang="en" dir="ltr">
{% load static %}
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'quiz/avtar.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <title>avtar</title>
  </head>
  <body>


<h1>AVTAR</h1>
<div class="info">
<p>The Real practical field mechatronics and robotics  ...
Year 2050: Robots have taken over the world...
But that's future, right now it's your turn to take over your opponent. Are you intelligent enough to do that?

You can discuss
<br>•If these technological advancements are boon or curse for the society ..
<br>•The first Robo or the recent one .
<br>•Some other technical questions which do not require deep thinking and can be answered within 5 seconds only  </p>
</div>
  </body>
</html>
