<html lang="en" dir="ltr">
{% load static %}
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'quiz/currentaffair.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <title>Current Affairs</title>
  </head>
  <body>


<h1>Current Affairs</h1>
<div class="info">
<p>

If infomation is the new gold then we know who the minner is.
Who, What, When, How, there is nothing person that this person doesn't know of.

but, is your opponent really upto the date🤔🤔, why don't you check it yourself? </p>
</div>
  </body>
</html>
