<html lang="en" dir="ltr">
{% load static %}
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'quiz/Dribble.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <title>Dribble and scribble </title>
  </head>
  <body>

<h1>Dribble and scribble </h1>
<div class="info">
<p>

Getting bored in lockdown
Want to go outside and play excited games
But you have no option because it is for your safety
Now its time to play brain games
.
.
.

No there is no puzzle, no brain teaser only some interesting questions from sports and some healthy discussions on your favorite sports.
Prepare yourself and be ready </p>
</div>
  </body>
</html>
