<html lang="en" dir="ltr">
{% load static %}
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'quiz/musk.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <title>The Musketeers</title>
  </head>
  <body>


<h1>The Musketeers</h1>
<div class="info">
<p>
Who among us are unaware about Vikram Aur Betaal.
You would Love to listen and share stories...
Now come up with an exciting Story of ⏰max. 1.5 min  and challenge your rivals to wind it up ,
Like
<br>👉🏼Giving it a moral
<br>👉🏼The perfect ending
<br>👉🏼Finding out the Irony
<br>👉🏼Be the Betaal to your opponent </p>
</div>
  </body>
</html>
