<html lang="en" dir="ltr">
{% load static %}
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'quiz/silent.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <title>The noise of the silent past</title>
  </head>
  <body>

<h1>The noise of the silent past</h1>
<div class="info">
<p>

 __Those Books covered with dust .
Those sacrifices for mother earth.
Are all just the past now ..._
But the noise of this past is to be spread all over the world ._
And  the questions can be :-
Rulers and the regions
The divisions
What Was the Largest Contiguous Empire in History?
Who Discovered what ?.
Who Invented the Automobile? ...
And Other interesting topics 🤩 </p>
</div>
  </body>
</html>
