<html lang="en" dir="ltr">
{% load static %}
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'quiz/plane.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <title>Snapes in the plane</title>
  </head>
  <body>



<h1>Snapes in the plane</h1>
<div class="info">
<p>

We all love movies and webseries. Watching webseries and movies with friends is all time favourite. But movies are also have impact on our lifes. It's time to show your knowledge about movies and webseries.
Tell your friends about your favourite movie and they will ask questions from it.
Start watching movies now because questions are also from famous movies.
Your opponent is ready to defeat you what about you? </p>
</div>
  </body>
</html>
