<!DOCTYPE html>
<html lang="en" dir="ltr">
{% load static %}
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'quiz/rohanchaudhay.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <title>The rohan chaudhary's show</title>
  </head>
  <body>



<h1>The Rohan Chaudhary's Show</h1>
<div class="info">
<p> In our country, decisions are taken by debates and discussions in the parliament. But we all have that one friend who brings the battle to the canteen. From passionate speeches to hashtag campaigns on twitter. There is nothing under the sky on which this person doesn't have an opinion.

Questions can be based on topics such as fundamental rights, duties of citizens, general framework and functioning of parliamentary bodies, composition of current coalition governments rulling different states etc. </p>
</div>
  </body>
</html>
