<html lang="en" dir="ltr">
{% load static %}
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'quiz/treasurer.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <title>  TREASURER </title>
  </head>
  <body>


<h1>  TREASURER </h1>
<div class="info">
<p>



  The name itself take you to a field ECONOMY ...
  Being keen to go deep with economy we have a lot of chanakya on this earth but to compete ..Get up with some questions
  Like What does the government spend its money on? Who does the government owe money to? Where does the money come from? Does a devaluation help the economy ?. </p>
</div>
  </body>
</html>
