<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'fonts/ionicons.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/Blog---Recent-Posts.css'%}">
    <link rel="stylesheet" href="{% static 'css/Footer-Basic.css'%}">
    <link rel="stylesheet" href="{% static 'css/Navigation-Dark-Clean.css'%}">
    <link rel="stylesheet" href="{% static 'css/Navigation-Menu.css'%}">
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    {% block static %}
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-md bg-dark navigation-clean">
        <div class="container"><a class="navbar-brand" href="{% url 'home' %}">Career and Counseling Cell</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link " href="{% url 'home' %}">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'about' %}">About</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'events:events_list' %}">Events</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'blog:blog' %}">Blog</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>

                    {% if not request.user.is_authenticated %}
                <button class="btn btn-light" type="button" > <a href="{% url 'accounts:login' %}" class="button"> Login </a></button>
                <button class="btn btn-outline-light" type="button"> <a href="{% url 'accounts:register' %}" class="button">Signup</a></button>

                {% else %}
                <button class="btn btn-light" type="button" ><a href="{% url 'accounts:logout' %}" class="button">Logout</a></button>
                <button class="btn btn-light" type="button" ><a href="{% url 'accounts:dashboard' request.user.username %}" class="button">Profile</a></button>
                {% endif %}

            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}

    <div class="footer-basic">
        <footer>
            <div class="social"><a href="https://www.instagram.com/career_counselling_cell_ymca/?hl=en"><i class="icon ion-social-instagram"></i>
            </a><a href=""><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="list-inline-item"><a href="{% url 'about' %}">About</a></li>
                <li class="list-inline-item"><a href="{% url 'events:events_list' %}">Events</a></li>
                <li class="list-inline-item"><a href="{% url 'blog:blog' %}">Blog</a></li>
                <li class="list-inline-item"><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
            <p class="copyright">Career and Couseling Cell © 2020</p>
        </footer>
    </div>
    {% block scripts %}
    {% endblock %}
    <script src="{% static 'js/jquery.min.js'%}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
</body>

</html>