<div class="footer-basic wow fadeInUp">
    <footer>
        <div class="social">
            <a href="https://www.instagram.com/career_counselling_cell_ymca/"><i class="icon ion-social-instagram"></i></a>
            <a href="https://www.youtube.com/channel/UCuiPk4pocoSo0Dr6QjhoSaQ"><i class="icon ion-social-youtube"></i></a>
{#            <a href="#"><i class="icon ion-social-snapchat"></i></a>#}
{#            <a href="#"><i class="icon ion-social-twitter"></i></a>#}
            <a href="https://www.facebook.com/cccymcaust/"><i class="icon ion-social-facebook"></i></a></div>


        <ul class="list-inline">
            <li class="list-inline-item"><a href="{% url 'core:home' %}">Home</a></li>
            <li class="list-inline-item"><a href="{% url 'core:about' %}">About</a></li>
            <li class="list-inline-item"><a href="{% url 'events:events_list' %}">Events</a></li>
            <li class="list-inline-item"><a href="{% url 'blog:blog' %}">Blog</a></li>
            <li class="list-inline-item"><a href="{% url 'core:contact' %}">Contact Us</a></li>
        </ul>
        <p class="copyright">Career and Counselling Cell © 2020</p>
    </footer>
</div>