{% extends 'base.html'%}
{% load static %}
{% block static %}
    <!-- Primary Meta Tags -->
    <title>Career and Counseling Cell | JC Bose University Faridabad</title>
    <meta name="title" content="Career and Counseling Cell, JC Bose University Faridabad">
    <meta name="description" content="Career and Counseling helps student to achieve excellence in their respective fields and oraganizes seminars in JC BOSE University, YMCA, Faridabad">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.cncjcbust.tech/">
    <meta property="og:title" content="Career and Counseling Cell, JC Bose University Faridabad">
    <meta property="og:description" content="Career and Counseling helps student to achieve excellence in their respective fields and oraganizes seminars in JC BOSE University, YMCA, Faridabad">
    <meta property="og:image" content="{% static 'img/logo.png' %}">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://www.cncjcbust.tech/">
    <meta property="twitter:title" content="Career and Counseling Cell, JC Bose University Faridabad">
    <meta property="twitter:description" content="Career and Counseling helps student to achieve excellence in their respective fields and oraganizes seminars in JC BOSE University, YMCA, Faridabad">
    <meta property="twitter:image" content="{% static 'img/logo.png' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/themes/red/pace-theme-flash.min.css">


{% endblock %}



{% block content %}
    <br>
    <br>
    <br>
    <br>


    {% include 'home_carousel.html' %}
    {% include 'upcoming_events_card.html' %}
    {% include 'core/message.html' %}
    {% include 'core/about_college.html' %}


{% endblock %}








{% block scripts %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>


{% endblock %}