{% load static %}
<div style="margin-top: -4px;">
    <nav class="navbar navbar-light navbar-expand-lg bg-light fixed-top" >
        <div class="container" style=""><a class="navbar-brand" href="{% url 'core:home' %}" style="font-family:Arial Narrow, cursive;font-size: 40px;color: #ffffff;"><img src="{% static 'img/logo.png' %}" height="70" width="70"></a>
            <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1" type="button" aria-controls="navcol-1" aria-expanded="false" aria-label="Toggle navigation"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon text-white"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active bord" href="{% url 'core:home' %}">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active bord" href="{% url 'core:about' %}">About</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active bord" href="{% url 'events:events_list' %}">Events</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active bord" href="{% url 'blog:blog' %}">Blog</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active bord" href="{% url 'core:contact' %}">Contact</a></li>

                    {% if not request.user.is_authenticated %}
                    <li class="nav-item" role="presentation"><a class="nav-link active bord" href="{% url 'accounts:login' %}">Login</a></li>
                    <li class="nav-item border-info hov  text-center border border-danger" role="presentation"><a class="nav-link active" href="{% url 'accounts:register' %}">SignUp</a></li>
                    {% else %}
                    <li class="nav-item" role="presentation"><a class="nav-link active bord" href="{% url 'accounts:dashboard' request.user.username %}">Profile</a></li>
                    <li class="nav-item border-info hov  text-center border border-danger" role="presentation"><a class="nav-link active" href="{% url 'accounts:logout' %}">Logout</a></li>
                    {% endif %}
                    <hr>

                </ul>
            </div>
        </div>
    </nav>
</div>




<style>

     .hov:hover{
        background-color: #D9534F;

    }

    .hov{
        border-radius: 30px;
    }
    li{
        padding-right: 5px;
        padding-left: 5px;
    }

    .bord:hover{
        border-bottom: 2px solid  #D9534F;
    }
    .nav-item{
        text-transform: capitalize;
        letter-spacing: .1px;
    }


</style>