<div style="margin-top: -7px; margin-bottom: -7px;">
    <nav class="navbar navbar-dark navbar-expand-lg bg-dark" >
        <div class="container" style="margin-top:-3px; margin-bottom: -3px;"><a class="navbar-brand" href="#" style="background-image: url(&quot;none&quot;);font-family:Arial Narrow, cursive;font-size: 40px;color: #ffffff;"><img src="/media/websitelogo/logo.png" height="70" width="70"></a>
            <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1" type="button" aria-controls="navcol-1" aria-expanded="false" aria-label="Toggle navigation"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon text-white"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'core:home' %}">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'core:about' %}">About</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'events:events_list' %}">Events</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'blog:blog' %}">Blog</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'core:contact' %}">Contact</a></li>

                    {% if not request.user.is_authenticated %}
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'accounts:login' %}">Login</a></li>
                    <li class="nav-item border-info hov  text-center border border-danger" role="presentation"><a class="nav-link active" href="{% url 'accounts:register' %}">SignUp</a></li>
                    {% else %}
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'accounts:dashboard' request.user.username %}">Profile</a></li>
                    <li class="nav-item border-info hov  text-center border border-danger" role="presentation"><a class="nav-link active" href="{% url 'accounts:logout' %}">Logout</a></li>
                    {% endif %}
                    <hr />

                </ul>
            </div>
        </div>
    </nav>
</div>


<style>

     .hov:hover{
        background-color: #D9534F;

    }

    .hov{
        border-radius: 30px;
    }
    li{
        padding-right: 5px;
        padding-left: 5px;
    }

    li:hover{
        border-bottom: 2px solid white;
    }
    .nav-item{
        text-transform: camelcase;
        letter-spacing: .1px;
    }


</style>