{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static 'css/LinkedIn-like-Profile-Box.css' %}">
{% endblock %}


{% if request.user.is_authenticated %}
    <div class="col-xl-3 offset-xl-0">
        <div class="row"></div>
        <div class="text-center border rounded-0 shadow-sm profile-box" style="width: 200px;height: 300px;background-color: #ffffff;margin: 5px;">
            <div style="height: 50px;background-image: url({% static 'img/bg-pattern.png' %});background-color: rgba(54,162,177,0);"></div>
            <div>
                <img class="rounded-circle" src="{{ request.user.userprofile.pic.url }}" width="60px" height="60px" style="background-color: rgb(255,255,255);padding: 2px;">
            </div>
            <div style="height: 100px;">
                <h4>{{ request.user.first_name|capfirst }} {{ request.user.last_name|capfirst }}</h4>
                <p style="font-size: 14px;">{{ request.user.userprofile.roll_no|upper }}</p>
                <p style="font-size: 12px;">{{ request.user.userprofile.course|upper }} {{ request.user.userprofile.branch|upper }}</p>
            </div>
            <div style="height: 80px;">
                <p>{{ request.user.email }}</p>
                <p>{{ request.user.userprofile.phoneno }}</p>
            </div>

            <a href="{% url 'accounts:dashboard' request.user.username %}">View Profile</a>
        </div>
    </div>
{% endif %}

